<div class="row mt-4">

  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current Posts</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/posts/{{post.id}}">{{post.title}}</a></h4>
      </div>

      <div class="col-md-2">
        <button id="update-btn" class="btn btn-sm btn-secondary" data-id="{{post.id}}">UPDATE</button>
      </div>

      <div class="col-md-2">
        <button id="delete-btn" class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <div class="text-center w-100">
    <a href="/post"><button class="btn btn-primary btn-lg">+ New Post</button></a>
  </div>

</div>

<script src="./js/dashboard.js"></script>
